{% extends 'base.html' %}
{% block title %}דף הבית{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4 text-center">
      <h3 class="card-title">ברוך הבא לInvenPro</h3>
      <div class="card-body">
        <p><strong>
          InvenPro היא מערכת חכמה לניהול מלאי והזמנות, שתוכננה במיוחד כדי לפשט ולייעל את התהליכים התפעוליים בעסק שלך.
        </strong></p>
        <hr>
        <h5 class="text-right">📦 ניהול מלאי</h5>
        <ul class="text-right mb-4">
          <li>הוספת פריטים חדשים למלאי</li>
          <li>עדכון כמויות קיימות (הוספה או הפחתה)</li>
          <li>מעקב אחר מצב המלאי בזמן אמת</li>
        </ul>
        <h5 class="text-right">📝 ניהול הזמנות</h5>
        <ul class="text-right mb-4">
          <li>יצירת הזמנות חדשות ללקוחות</li>
          <li>עדכון אוטומטי של המלאי עם כל הזמנה</li>
          <li>ניהול היסטוריית הזמנות וביצוע מעקב</li>
        </ul>
        
      </div>
        {% if not user.is_authenticated %}
            <div class="text-center mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary mx-2">🔑 התחברות</a>
                <a href="{% url 'register' %}" class="btn btn-success mx-2">📝 הרשמה</a>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class ="btn btn-primary mt-4">מעבר לביצוע פעולה</a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
